<div class="container marketing"> 
<% @new_days.each do |new_day| %>

	<hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
	          <h2 class="featurette-heading"><%= link_to new_day.date, new_day %></h2>
			<% if current_user.nutri? %>
			  <p class='lead'> <%= new_day.user.email %></p>
			<% end %>
			  <p class='lead'> <%= '未回答' if new_day.comment.blank? %></p>
      </div>
    </div>
<% end %>
</div>