<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">起来啦</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li></li>
			  <li></li>
			  <li></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">实现你的目标</h1>
        <p class="lead">通过手机跟最顶级的营养师一起制定计划。教练会与你每一天，一对一，成就最好的你。</p>
        <p class="lead">
          <a href="http://getbootstrap.com/examples/cover/#" class="btn btn-lg btn-default">现在就开始吧！</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>made by <a href="http://chuochuo.me">戳戳</a>, with heart.</p>
        </div>
      </div>

    </div>

  </div>

</div>